 <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">
                       <span class="logo">Adhyeti.com</span>
                   </a>
               </div>

               <!-- Collect the nav links, forms, and other content for toggling -->
               <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#getstarted">Get Started</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#work">Our Work</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#login">Join!</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <% if user_signed_in? %>
                    <li>
                        <%= link_to "LogOut",destroy_user_session_path,method: :delete, :class => "page-scroll" %>
                    </li>
                    <li>
                        <% if(current_user.user_type == "Faculty") %>
                        
                        <%= link_to "Profile","faculty",:class => "page-scroll" %>
                        <%else%>
                        <%= link_to "Profile","student",:class => "page-scroll" %>
                        <%end%>
                    </li>
                    <%else%>
                    <li>
                    <%= link_to "LogIn",new_user_session_path, :class => "page-scroll" %>
                    </li>
                    <%end %>

                    <li>
                    <% if user_signed_in? %>
                    <a href="#" class="page-scroll"><%= current_user.name %></a>
                    <% end %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>